.produtos-view {
    min-height: 100vh;
    padding: 1.5em;
    box-shadow: var(--box-shadow-card);
    border-radius: 4px; 
    display: flex;
    flex-direction: column;  
}

.toolbar {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    gap: 1em;
}

.filtro {
    display: flex;
    align-items: center;
    gap: 1em;
}

::ng-deep .produtos-view .p-icon-field-left > .p-inputtext {
    width: 100%;
}

.produtos-table {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(4, calc((100% - 4.5em) / 4));
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 0.5em;
}