<p-dialog
  *ngIf="produto"
  [header]="produto.nome"
  [modal]="true"
  [(visible)]="visivel"
  [style]="{ width: '40%' }"
>
  <div class="dialog-adicionar-produto-atendimento">
    <p-stepper [linear]="true" [(activeStep)]="step">
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <div class="stepper">
            <span *ngIf="index == step" class="icone-stepper">1</span>
            <span *ngIf="index < step" class="icone-stepper"
              ><i class="pi pi-check"></i
            ></span>
            <h3>Estoque</h3>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="step-estoque">
            <div class="selecionar-estoque">
              <h1>Selecione o estoque</h1>
              <div
                [class]="
                  estoqueSelecionado == estoque
                    ? 'estoque selecionado'
                    : 'estoque'
                "
                *ngFor="let estoque of produto.estoquesProduto"
                (click)="selecionarEstoque(estoque)"
              >
                <p class="localicazacao">
                  <i class="pi pi-map-marker"></i> {{ estoque.nome }}
                </p>
                <p>
                  {{ estoque.quantidade }}
                  {{ estoque.quantidade == 1 ? " unidade" : " unidades" }}
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <div class="stepper">
            <span *ngIf="index == step" class="icone-stepper">2</span>
            <span *ngIf="index < step" class="icone-stepper"
              ><i class="pi pi-check"></i
            ></span>
            <h3>Retirada</h3>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <form class="retirada" [formGroup]="formularioDialog">
            <div class="selecionar-retirada">
              <h1>Selecione a forma de retirada e montagem</h1>
              <div class="inputs">
                <p-selectButton
                  [allowEmpty]="false"
                  [options]="tiposRetiradas"
                  formControlName="formaRetirada"
                  optionLabel="label"
                  optionValue="formaRetirada"
                />
                <div class="checkbox">
                  <p-toggleButton
                    formControlName="montagem"
                    iconPos="right"
                    onIcon="pi pi-wrench"
                    offIcon="pi pi-times"
                    onLabel="Com montagem"
                    offLabel="Sem montagem"
                  />
                </div>
              </div>
              <div
                *ngIf="
                  formularioDialog.get('formaRetirada')?.value == 'Entrega'
                "
                class="info"
              >
                <p class="info-titulo">
                  <i class="pi pi-truck"></i>
                  Frete para o endereço: {{ formatarEnderecoSelecionado() }}
                </p>
                <p class="info-valor">R$ 50,00</p>
              </div>
              <div *ngIf="formularioDialog.get('montagem')?.value" class="info">
                <p class="info-titulo">
                  <i class="pi pi-wrench"></i>
                  Valor da montagem
                </p>
                <p class="info-valor">R$ 34,00</p>
              </div>
              <div class="total-servicos">
                <h3>
                  Total serviços: R$
                  {{
                    (formularioDialog.get("montagem")?.value ? 34 : 0) +
                      (formularioDialog.get("formaRetirada")?.value == "Entrega"
                        ? 50
                        : 0) | number : "1.2-2"
                  }}
                </h3>
              </div>
            </div>
          </form>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <div class="stepper">
            <span *ngIf="index == step" class="icone-stepper">3</span>
            <span *ngIf="index < step" class="icone-stepper"
              ><i class="pi pi-check"></i
            ></span>
            <h3>Garantia</h3>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <form class="garantia" [formGroup]="formularioDialog">
            <h1>Selecione a garantia estendida</h1>
            <div class="grid-garantia-estendida">
              <p-table
                selectionMode="single"
                [(selection)]="garantiaEstendidaSelecionada"
                [value]="garantiasExtendidas"
                styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '100%' }"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Tempo</th>
                    <th>Valor</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-garantia>
                  <tr [pSelectableRow]="garantia">
                    <td>{{ garantia.tempo }}</td>
                    <td>R$ {{ garantia.valor | number : "1.2-2" }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </form>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
  <div class="buttons">
    <div *ngIf="step == 0" class="buttons-estoque">
      <p-button
        [disabled]="!estoqueSelecionado"
        label="Avançar"
        icon="pi pi-arrow-right"
        iconPos="right"
        (onClick)="avancarStep()"
      />
    </div>
    <div *ngIf="step == 1" class="buttons-retirada">
      <p-button
        label="Voltar"
        icon="pi pi-arrow-left"
        iconPos="left"
        (onClick)="voltarStep()"
      />
      <p-button
        [disabled]="formularioDialog.get('formaRetirada').invalid"
        label="Avançar"
        icon="pi pi-arrow-right"
        iconPos="right"
        (onClick)="avancarStep()"
      />
    </div>
    <div *ngIf="step == 2" class="buttons-garantia">
      <p-button
        label="Voltar"
        icon="pi pi-arrow-left"
        iconPos="left"
        (onClick)="voltarStep()"
      />
      <p-button
        label="Adicionar produto"
        icon="pi pi-cart-plus"
        iconPos="right"
        (onClick)="adicionarProdutoAoAtendimento()"
      />
    </div>
  </div>
</p-dialog>
