::ng-deep p-inputNumber,
::ng-deep p-inputMask,
::ng-deep .p-inputmask,
::ng-deep .p-inputnumber,
::ng-deep .p-calendar,
::ng-deep p-divider {
  width: 100%;
}

::ng-deep .p-breadcrumb {
  border: none;
}

::ng-deep .p-highlight {
  background-color: var(--bg1);
  color: var(--text-color);
}

::ng-deep .p-stepper-header {
  background-color: transparent;
  display: flex;
  align-items: center;
}

::ng-deep .botao .p-button {
  background-color: var(--bg1);
  color: var(--text-color);
}

.content {
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 55px;
}

::ng-deep .p-stepper .p-stepper-panels {
  padding: 0;
}

::ng-deep .p-stepper .p-stepper-nav {
  overflow: hidden;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

::ng-deep h3 {
  margin-top: 3px;
}

::ng-deep .icone-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* NAVBAR */

::ng-deep .p-sidebar .p-highlight {
  background-color: transparent;
}

.navbar-header {
  width: 100%;
}

::ng-deep .p-sidebar-header {
  padding: 0.5em 1em;
  background-color: var(--bg1);
}

::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
  color: var(--text-color)
}

::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon:hover {
  background-color: transparent;
}

::ng-deep .p-sidebar-content {
  margin-top: 1.5em;
}