<div [class]="this.small ? 'produto-card small' : 'produto-card'" @fadeInAnimation>
  <div
    (click)="emitirEventoAbrirDialogProduto(this.produto)"
    class="imagem"
    [style]="'background-image: url(' + produto.urlImagem + ')'"
  >
    <!-- <span class="tag">
      <p>Estoque: {{ produto.estoque }}</p>
    </span> -->
  </div>
  <div
    (click)="emitirEventoAbrirDialogProduto(this.produto)"
    class="informacoes"
  >
    <p class="nome-produto">{{ produto.nome }}</p>
    <p *ngIf="!small" class="valor-produto">R$ {{ produto.valor | number: '1.2-2' }}</p>
    <div *ngIf="small" class="valor-botao-box">
      <p class="valor-produto">R$ {{ produto.valor }}</p>
      <p-button size="small" icon="pi pi-shopping-cart" />
    </div>
  </div>
  <div *ngIf="!small" class="buttons">
    <p-button (onClick)="emitirEventoAdicionarProdutoAoAtendimento()" label="Adicionar" size="small" icon="pi pi-shopping-cart" />
  </div>
</div>
