header {
    background-color: var(--header-bg);
    position: fixed;
    z-index: 1101;
    width: 100vw;
}

.logo-options {
    display: flex;
    align-items: center;
    padding: 0em 1.5em;
    gap: 2em;
    color: white;
    padding: 0.5em 1em;
    height: 53px;
}

.logo-options i {
    font-size: 1.5em;
    cursor: pointer;
}

.logo-options img {
    cursor: pointer;
}