<div class="card-produto-small" @blurAnimation>
  <img
    (click)="emitirEventoAbrirDialogProduto(this.produtoAtendimento.produto)"
    class="imagem"
    [src]="produtoAtendimento.produto.urlImagem"
    alt=""
  />
  <div class="content">
    <div class="info">
      <p class="info-nome">{{ produtoAtendimento.produto.nome }}</p>
      <div class="valor-estoque">
        <p class="info-valor">
          R$ {{ produtoAtendimento.produto.valor | number : "1.2-2" }}
        </p>
        <p class="info-estoque">
          Estoque: {{ produtoAtendimento.produto.estoque }}
        </p>
      </div>
    </div>

    <div class="buttons">
      <div class="controles-quantidade">
        <p-button icon="pi pi-plus" (onClick)="aumentarQuantidadeItem()" />
        <p class="quantidade">{{ produtoAtendimento.qtdAtendimento }}</p>
        <p-button icon="pi pi-minus" (onClick)="diminuirQuantidadeItem()" />
      </div>
      <div class="acoes">
        <p-button
          icon="pi pi-trash"
          (onClick)="emitirEventoExcluirProdutoDoAtendimento()"
        />
      </div>
    </div>
  </div>
</div>
