.page-header {
  width: 100vw;
  border-bottom: 1px solid #ccc;
  background-color: var(--bg2);
}

::ng-deep .p-breadcrumb {
    width: 100vw;
    border: none;
    border-radius: 0;
    background-color: var(--bg2);
}

::ng-deep .p-menuitem-text, ::ng-deep .p-menuitem-icon, ::ng-deep .p-menuitem-separator {
    color: var(--text-color3);

}
