<div
  [class]="
    endereco === enderecoSelecionado
      ? 'endereco endereco-selecionado'
      : 'endereco'
  "
>
  <li
    (click)="definirEsseEnderecoComoSelecionado()"
    class="endereco-tabela item-tabela"
    *ngIf="!titulo"
  >
    <ul>
      {{
        formatarEndereco()
      }}
    </ul>
    <ul>
      {{
        endereco.bairro
      }}
    </ul>
    <ul>
      {{
        endereco.cidade
      }}
    </ul>
    <ul>
      {{
        endereco.cep
      }}
    </ul>
    <ul>
      {{
        endereco.uf
      }}
    </ul>
    <ul class="ul-botao">
      <p-splitButton
      size="small"
        [model]="itemsBotao"
      />
    </ul>
  </li>
  <li class="titulo" *ngIf="titulo">
    <ul>
      Endereço
    </ul>
    <ul>
      Bairro
    </ul>
    <ul>
      Cidade
    </ul>
    <ul>
      CEP
    </ul>
    <ul>
      UF
    </ul>
  </li>
  <div *ngIf="!titulo" class="tags">
    <p-tag
      *ngIf="endereco.principal"
      icon="pi pi-star"
      value="Endereço principal"
    />
    <p-tag
      *ngIf="endereco.tipoEndereco"
      icon="pi pi-clipboard"
      [value]="'Tipo de endereço: ' + endereco.tipoEndereco"
    />
  </div>
</div>
