<li
  (click)="definirEsseEnderecoComoSelecionado()"
  [class]="
    endereco === enderecoSelecionado
      ? 'endereco-tabela item-tabela endereco-selecionado'
      : 'endereco-tabela item-tabela'
  "
  *ngIf="!titulo"
>
  <ul>
    {{
      formatarEndereco()
    }}
  </ul>
  <ul>
    {{
      endereco.bairro
    }}
  </ul>
  <ul>
    {{
      endereco.cidade
    }}
  </ul>
  <ul>
    {{
      endereco.cep
    }}
  </ul>
  <ul>
    {{
      endereco.uf
    }}
  </ul>
  <ul class="buttons">
    <p-button
      pTooltip="Editar endereço"
      tooltipPosition="bottom"
      icon="pi pi-pen-to-square"
      size="small"
      (click)="emitirEventoEditarEndereco()"
    />
    <p-button
      pTooltip="Excluir endereço"
      tooltipPosition="bottom"
      icon="pi pi-trash"
      size="small"
      (click)="excluirEndereco()"
    />
  </ul>
</li>
<li class="endereco-tabela titulo" *ngIf="titulo">
  <ul>
    Endereço
  </ul>
  <ul>
    Bairro
  </ul>
  <ul>
    Cidade
  </ul>
  <ul>
    CEP
  </ul>
  <ul>
    UF
  </ul>
</li>