.endereco-tabela {
  display: grid;
  grid-template-columns: 35% 18% 18% 18% 8% 3%;
  padding: 1em 2em;
  border-radius: 4px;
  align-items: center;
  border: 1px solid transparent;
  font-weight: 500;
}

.item-tabela {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  transition: 0.1s;
}

.endereco-selecionado {
    border-color: var(--bg1);
    color: var(--bg1);
    font-weight: 700;
}

.titulo {
  background-color: var(--bg1);
  color: var(--text-color);
  font-weight: 700;
}

::ng-deep .p-button {
  border: none;
  background-color: var(--bg1);
  color: var(--text-color);
}
