<p-dialog
  *ngIf="produto"
  [header]="produto.nome"
  [modal]="true"
  [(visible)]="visivel"
  [style]="{ width: '60%' }"
>
  <div class="dialog">
    <div class="info-produtos">
      <div class="img-box">
        <div
          class="img"
          [style]="'background-image: url(' + produto.urlImagem + ')'"
        ></div>
      </div>
      <div class="info">
        <p-tabView>
          <p-tabPanel header="Descrição">
            <div class="descricao-box">
              <div class="descricao">
                <p>{{ produto.descricao }}</p>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Estoque">
            <div class="estoque-box">
              <div class="estoque">
                <p>Loja - Custódia - PE</p>
                <p>
                  {{ produto.estoque }}
                  {{ produto.estoque == 1 ? "unidade" : "unidades" }}
                </p>
              </div>
              <div class="estoque">
                <p>Caruaru - PE</p>
                <p>4 unidades</p>
              </div>
              <div class="estoque">
                <p>Salgueiro - PE</p>
                <p>19 unidades</p>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>

    <div class="valor-actions">
      <p class="valor">R$ {{ produto.valor | number : "1.2-2" }}</p>
      <p-button
        label="Adicionar produto ao pedido"
        size="small"
        icon="pi pi-shopping-cart"
      />
    </div>
    <div class="compre-junto">
      <p-carousel
        [responsiveOptions]="responsiveOptions"
        [showIndicators]="false"
        [value]="produtosRelacionados"
        [numVisible]="4"
        [numScroll]="1"
        [circular]="true"
      >
        <ng-template let-produtoRelacionado pTemplate="item">
          <div class="produto-relacionado">
            <app-produto-card
              [small]="true"
              [produto]="produtoRelacionado"
            ></app-produto-card>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <!-- <div class="buttons">
        <p-button label="Voltar" size="small" icon="pi pi-arrow-left" />
        <p-button label="Adicionar produto ao pedido" size="small" icon="pi pi-shopping-cart" />

    </div> -->
  </div>
</p-dialog>
