.dialog {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.info-produtos {
  display: flex;
  gap: 2em;
  padding: 0 1.5rem 0 1.5rem;
}

.img-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info-produtos .img {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 200px;
  max-height: 200px;
  justify-content: space-between;
  overflow-y: auto  ;
}

.descricao-box {
  display: flex;
  flex-direction: column;

}

.descricao {
  font-size: 12px;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.valor-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.valor {
  font-size: 24px;
  font-weight: 700;
}

.estoque-box {
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.estoque {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: var(--border);
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 14px;
}

.produto-relacionado {
  margin: 1em;
  padding: 1em 0;
}

.compre-junto {
    border-top: var(--border);
}

.buttons {
  padding: 1em;
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
}

::ng-deep .p-dialog .p-dialog-content {
  padding: 0;
}

::ng-deep .dialog .p-button {
    background-color: var(--bg1);
    color: var(--text-color);
}

::ng-deep .dialog .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: var(--bg1);
  border-color: var(--bg1);
}



::ng-deep .dialog .p-highlight {
  background-color: transparent;
}

::ng-deep .dialog .p-tabview .p-tabview-panels {
  width: 100%;
  padding: 0;
  padding-top: 1rem;
}