.pedidos-view {
  width: calc((1350px * 0.4) - 2em);
  height: calc(100vh - var(--height-header) - 3em);
  box-shadow: var(--box-shadow-card);
  border-radius: 4px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-produtos {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
}

.view-actions {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-top: var(--border);
  gap: 1em;
}

.rodape-info {
  display: flex;
  align-items: center;
  gap: 1em;
}

.valorTotal {
  font-size: 24px;
  font-weight: 700;
}

.descontos {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.valor-adicional {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.valor-adicional h1 {
  font-size: 14px;
  font-weight: 600;
}

.descontos-tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.descontos-tab h1 {
  font-size: 14px;
  font-weight: 600;
}

.descontos-buttons {
  width: 100%;
  display: flex;
  gap: 0.5em;
}

::ng-deep .pedidos-view .descontos .p-inputtext {
  max-height: 34px;
  min-height: 34px;
  height: 34px;
}

.buttons {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, calc((100% - 0.5em) / 2));
}

::ng-deep .pedidos-view .buttons .p-button {
  width: 100%;
  background-color: var(--bg1);
  color: var(--text-color);
}