<div class="pedidos-view">
  <div class="table-produtos">
    <div
      class="atendimento-sem-produtos"
      *ngIf="atendimento.produtos.length == 0"
    >
      
      <p><i class="pi pi-cart-plus"></i>Adicione produtos ao atendimento</p>
    </div>
    <app-produto-card-small
      *ngFor="let produtoAtendimento of atendimento.produtos"
      [produtoAtendimento]="produtoAtendimento"
    ></app-produto-card-small>
  </div>
  <div class="view-actions">
    <div class="rodape-info">
      <div class="view-actions-info">
        <p>
          {{ atendimento.qtdProdutos }}
          {{ atendimento.qtdProdutos == 1 ? "Produto" : "Produtos" }}
        </p>
        <p>
          {{ atendimento.qtdItens }}
          {{ atendimento.qtdProdutos == 1 ? "Item" : "Itens" }}
        </p>
      </div>
      <div class="valorTotal">
        <p>R$ {{ atendimento.valorTotalSemDesconto | number : "1.2-2" }}</p>
      </div>
    </div>
    <div class="buttons">
      <p-button icon="pi pi-folder-open" label="Arquivar atendimento" />
      <p-button icon="pi pi-arrow-right" label="Avançar" iconPos="right" />
    </div>
  </div>
</div>
