<section class="cadastro-cliente-section">
  <div class="page-header">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
  <div class="cadastro-cliente-box">
    <div class="titulo-page">
      <h1>Cadastro de cliente</h1>
      <h4>Preencha o formulário de cadastro de cliente</h4>
    </div>
    <p-stepper [linear]="true" [(activeStep)]="stepAtivo">
      <p-stepperPanel header="Dados pessoais">
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <div class="stepper">
            <span *ngIf="index == stepAtivo" class="icone-stepper">{{
              index + 1
            }}</span>
            <span *ngIf="index < stepAtivo" class="icone-stepper"
              ><i class="pi pi-check"></i
            ></span>
            <h3>Informações pessoais</h3>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="titulo-step">
            <h5>Passo 1</h5>
            <h2>Dados pessoais</h2>
          </div>
          <p-divider></p-divider>
          <form
            [formGroup]="formularioInformacoesPessoais"
            class="formulario-dados-pessoais"
          >
            <div class="entry">
              <label for="nome">Nome</label>
              <input formControlName="nome" pInputText id="nome" />
            </div>
            <div class="entry">
              <label for="sobrenome">Sobrenome</label>
              <input formControlName="sobrenome" pInputText id="sobrenome" />
            </div>
            <div class="entry">
              <label for="genero">Gênero</label>
              <p-selectButton
                formControlName="genero"
                id="genero"
                [options]="genero"
                [multiple]="false"
                optionLabel="name"
                optionValue="value"
              />
            </div>
            <div class="entry">
              <label for="data-nascimento">Data de nascimento</label>
              <p-calendar
                formControlName="dataNascimento"
                id="data-nascimento"
              />
            </div>
            <div class="entry">
              <label for="nome-social">Nome social</label>
              <input formControlName="nomeSocial" pInputText id="nome-social" />
            </div>

            <div class="entry duas-colunas">
              <label for="genero">Documento</label>
              <p-selectButton
                (onChange)="selecionarDocumento($event)"
                [options]="tipoDocumento"
                optionLabel="label"
                optionValue="documentoSelecionado"
              />
            </div>
            <div class="entry" *ngIf="documentoSelecionado == 'cpf'">
              <label for="cpf">CPF</label>
              <p-inputMask formControlName="cpf" mask="999.999.999-99" />
            </div>
            <div class="entry" *ngIf="documentoSelecionado == 'cpf'">
              <label for="rg">RG</label>
              <p-inputMask formControlName="rg" mask="999.999.999-99" />
            </div>
            <div class="entry" *ngIf="documentoSelecionado == 'cnpj'">
              <label for="cnpj">CNPJ</label>
              <p-inputMask formControlName="cnpj" mask="99.999.999/9999-99" />
            </div>
            <div class="entry" *ngIf="documentoSelecionado == 'cnpj'">
              <label for="incricao-estadual">Incrição estadual</label>
              <p-inputNumber
                formControlName="incricaoEstadual"
                [useGrouping]="false"
                id="incricao-estadual"
              />
            </div>
            <div class="entry" *ngIf="documentoSelecionado == 'cnpj'">
              <label for="orgao-publico">Orgão público</label>
              <input
                pInputText
                formControlName="orgaoPublico"
                id="orgao-publico"
              />
            </div>
          </form>
          <div class="botao-next">
            <p-button
              [disabled]="!this.formularioInformacoesPessoais.valid || this.documentoSelecionado == null"
              class="botao-next"
              label="Avançar"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <div class="stepper">
            <span class="icone-stepper">{{ index + 1 }}</span>
            <h3>Contato</h3>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="titulo-step">
            <h5>Passo 2</h5>
            <h2>Contatos</h2>
          </div>
          <p-divider></p-divider>
          <form
            [formGroup]="formularioInformacoesContato"
            class="formulario-dados-pessoais"
          >
            <div class="entry">
              <label for="email">E-mail</label>
              <input formControlName="email" pInputText id="email" />
            </div>
            <div class="entry">
              <label for="telefone">Telefone</label>
              <p-inputMask
                formControlName="telefone"
                id="telefone"
                mask="(99) 99999-9999"
              />
            </div>
          </form>
          <div class="botao-next">
            <p-button
              class="botao-next"
              label="Retornar"
              icon="pi pi-arrow-left"
              iconPos="left"
              (onClick)="prevCallback.emit()"
            />
            <p-button
              class="botao-next"
              label="Avançar"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</section>
