.cadastro-cliente-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100vw;
    height: 100vh;
}

.cadastro-cliente-box {
    padding: 2.5em 2em;
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.titulo-page {
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
}

.titulo-page h4 {
    opacity: 0.5;
}

.stepper {
    display: flex;
    gap: 0.5em;
    color: var(--text-color2);
    opacity: 1;
}

.icone-stepper {
    background-color: var(--bg1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #000;
}

.titulo-step h5 {
    opacity: 0.5;
}

.titulo-step h2 {
    opacity: 1;
}

.step-content {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.formulario-documentos {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 4em) / 3));
    gap: 2em;
}

.campo-documentos {
    max-width: 100%;
    grid-column: span 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.entry-documento {
    width: 190px;
}

.entry-campo-documento {
    width: 300px;
}

.entry-small-message {
    color: var(--bg1);
    font-weight: 500;
}

.buttons-box { 
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.buttons-box-left {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
}

.buttons-box-right {
    display: flex;
    gap: 1em;
}

.botao-next-step {
    justify-self: flex-end;
}

.skeleton {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 3em) / 4));
    gap: 1em;
}

.formulario-informacoes-pessoais {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 3em) / 4));
    gap: 1em;
}

.entry-genero {
    grid-column:  span 2;
}

::ng-deep .botao .p-button {
    background-color: var(--bg1);
    color: var(--text-color);
}