@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --branco-fantasma: #f5f5f5;
  --bg1: #990008;
  --text-color: #fff;
  --text-color2: #000;
  --text-color3: #ddd;
  --header-bg: #9a0008;
  --bg2: #70340f;
  --soma-height-header: calc(39px + 55px);
}

* {
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 13px;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.step-content {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.titulo-step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #000;
}

.titulo-step h5 {
  opacity: 0.5;
}

.titulo-step h2 {
  opacity: 1;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
