.adicionar-endereco-dialog {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.haeader-dialog {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.formulario-endereco {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
}

.buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .p-inputmask {
    width: auto;
}

.botao-consultar-cep {
    margin-top: 25px;
}

.entry-referencia, .entry-rua {
    grid-column: span 2;
}